USE [master]
GO
/****** Object:  Database [QuanLyCamDo_K235480106059]    Script Date: 5/12/2026 9:34:37 PM ******/
CREATE DATABASE [QuanLyCamDo_K235480106059]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo_K235480106059', FILENAME = N'D:\Download\MSSQL17.SQL2025\MSSQL\DATA\QuanLyCamDo_K235480106059.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_K235480106059_log', FILENAME = N'D:\Download\MSSQL17.SQL2025\MSSQL\DATA\QuanLyCamDo_K235480106059_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo_K235480106059].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo_K235480106059]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhNoSauGiaoDich]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_TinhNoSauGiaoDich]
(
    @MaTT CHAR(10),
    @NgayCanTinh DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @KetQua DECIMAL(18,2);

    SELECT @KetQua = DuNoSauThanhToan
    FROM LichSuThanhToan
    WHERE MaTT = @MaTT
      AND NgayThanhToan <= @NgayCanTinh;

    RETURN ISNULL(@KetQua, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongNoHopDong]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_TinhTongNoHopDong]
(
    @MaHD CHAR(10),
    @NgayCanTinh DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TienGoc DECIMAL(18,2);
    DECLARE @NgayLap DATE;
    DECLARE @HanLaiDon DATE;
    DECLARE @TongNo DECIMAL(18,2);
    DECLARE @DaTra DECIMAL(18,2);
    DECLARE @LaiSuatNgay DECIMAL(10,6) = 0.005;

    SELECT
        @TienGoc = TienVayGoc,
        @NgayLap = NgayLap,
        @HanLaiDon = HanLaiDon
    FROM HopDongCamDo
    WHERE MaHD = @MaHD;

    IF @TienGoc IS NULL
        RETURN 0;

    IF @NgayCanTinh < @NgayLap
        RETURN @TienGoc;

    IF @NgayCanTinh <= @HanLaiDon
    BEGIN
        DECLARE @SoNgayLaiDon INT;

        SET @SoNgayLaiDon = DATEDIFF(DAY, @NgayLap, @NgayCanTinh);

        SET @TongNo = @TienGoc + (@TienGoc * @LaiSuatNgay * @SoNgayLaiDon);
    END
    ELSE
    BEGIN
        DECLARE @SoNgayTruocHan INT;
        DECLARE @SoNgayQuaHan INT;
        DECLARE @TienSauHanLaiDon DECIMAL(18,2);

        SET @SoNgayTruocHan = DATEDIFF(DAY, @NgayLap, @HanLaiDon);
        SET @SoNgayQuaHan = DATEDIFF(DAY, @HanLaiDon, @NgayCanTinh);

        SET @TienSauHanLaiDon = @TienGoc + (@TienGoc * @LaiSuatNgay * @SoNgayTruocHan);

        SET @TongNo = @TienSauHanLaiDon * POWER(1 + @LaiSuatNgay, @SoNgayQuaHan);
    END

    SELECT @DaTra = ISNULL(SUM(SoTienThanhToan), 0)
    FROM LichSuThanhToan
    WHERE MaHD = @MaHD
      AND NgayThanhToan <= @NgayCanTinh;

    SET @TongNo = @TongNo - ISNULL(@DaTra, 0);

    IF @TongNo < 0
        SET @TongNo = 0;

    RETURN @TongNo;
END;
GO
/****** Object:  Table [dbo].[HopDongCamDo]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongCamDo](
	[MaHD] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
	[TienVayGoc] [decimal](18, 2) NOT NULL,
	[NgayLap] [date] NULL,
	[HanLaiDon] [date] NOT NULL,
	[HanThanhLy] [date] NOT NULL,
	[TrangThaiHD] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[CanCuocCongDan] [char](12) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayTao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CanCuocCongDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThanhToan]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThanhToan](
	[MaTT] [char](10) NOT NULL,
	[MaHD] [char](10) NOT NULL,
	[NgayThanhToan] [date] NULL,
	[SoTienThanhToan] [decimal](18, 2) NOT NULL,
	[DuNoSauThanhToan] [decimal](18, 2) NOT NULL,
	[NguoiThu] [nvarchar](100) NULL,
	[HinhThuc] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSanCamCo]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSanCamCo](
	[MaTS] [char](10) NOT NULL,
	[MaHD] [char](10) NOT NULL,
	[TenTaiSan] [nvarchar](150) NOT NULL,
	[NhomTaiSan] [nvarchar](50) NULL,
	[GiaThamDinh] [decimal](18, 2) NOT NULL,
	[TinhTrangTS] [nvarchar](30) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDongCamDo] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDongCamDo] ADD  DEFAULT (N'Đang vay') FOR [TrangThaiHD]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[LichSuThanhToan] ADD  DEFAULT (N'Tiền mặt') FOR [HinhThuc]
GO
ALTER TABLE [dbo].[TaiSanCamCo] ADD  DEFAULT (N'Đang cầm cố') FOR [TinhTrangTS]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDongCamDo] ([MaHD])
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [FK_ThanhToan_HopDong]
GO
ALTER TABLE [dbo].[TaiSanCamCo]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDongCamDo] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSanCamCo] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_HanThanhLy] CHECK  (([HanThanhLy]>[HanLaiDon]))
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [CK_HopDong_HanThanhLy]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_NgayLap] CHECK  (([NgayLap]<=[HanLaiDon]))
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [CK_HopDong_NgayLap]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_TienVayGoc] CHECK  (([TienVayGoc]>(0)))
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [CK_HopDong_TienVayGoc]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_TrangThai] CHECK  (([TrangThaiHD]=N'Đã thanh lý' OR [TrangThaiHD]=N'Đã thanh toán' OR [TrangThaiHD]=N'Đang trả góp' OR [TrangThaiHD]=N'Quá hạn' OR [TrangThaiHD]=N'Đang vay'))
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [CK_HopDong_TrangThai]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_ThanhToan_DuNo] CHECK  (([DuNoSauThanhToan]>=(0)))
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [CK_ThanhToan_DuNo]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_ThanhToan_SoTien] CHECK  (([SoTienThanhToan]>(0)))
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [CK_ThanhToan_SoTien]
GO
ALTER TABLE [dbo].[TaiSanCamCo]  WITH CHECK ADD  CONSTRAINT [CK_TaiSan_GiaThamDinh] CHECK  (([GiaThamDinh]>(0)))
GO
ALTER TABLE [dbo].[TaiSanCamCo] CHECK CONSTRAINT [CK_TaiSan_GiaThamDinh]
GO
ALTER TABLE [dbo].[TaiSanCamCo]  WITH CHECK ADD  CONSTRAINT [CK_TaiSan_TinhTrang] CHECK  (([TinhTrangTS]=N'Đã trả khách' OR [TinhTrangTS]=N'Đã bán thanh lý' OR [TinhTrangTS]=N'Chờ thanh lý' OR [TinhTrangTS]=N'Đang cầm cố'))
GO
ALTER TABLE [dbo].[TaiSanCamCo] CHECK CONSTRAINT [CK_TaiSan_TinhTrang]
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDongCamDo]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DangKyHopDongCamDo]
    @HoTen NVARCHAR(100),
    @SoDienThoai VARCHAR(15),
    @CanCuocCongDan CHAR(12),
    @DiaChi NVARCHAR(200),
    @TienVayGoc DECIMAL(18,2),
    @NgayLap DATE,
    @HanLaiDon DATE,
    @HanThanhLy DATE,
    @DanhSachTaiSan XML
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @MaKH CHAR(10);
        DECLARE @MaHD CHAR(10);
        DECLARE @SoThuTu INT;

        SELECT @MaKH = MaKH
        FROM KhachHang
        WHERE CanCuocCongDan = @CanCuocCongDan;

        IF @MaKH IS NULL
        BEGIN
            SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaKH, 3, 8) AS INT)), 0) + 1
            FROM KhachHang;

            SET @MaKH = 'KH' + RIGHT('00000000' + CAST(@SoThuTu AS VARCHAR(8)), 8);

            INSERT INTO KhachHang
            (
                MaKH,
                HoTen,
                SoDienThoai,
                CanCuocCongDan,
                DiaChi,
                NgayTao
            )
            VALUES
            (
                @MaKH,
                @HoTen,
                @SoDienThoai,
                @CanCuocCongDan,
                @DiaChi,
                GETDATE()
            );
        END

        SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaHD, 3, 8) AS INT)), 0) + 1
        FROM HopDongCamDo;

        SET @MaHD = 'HD' + RIGHT('00000000' + CAST(@SoThuTu AS VARCHAR(8)), 8);

        INSERT INTO HopDongCamDo
        (
            MaHD,
            MaKH,
            TienVayGoc,
            NgayLap,
            HanLaiDon,
            HanThanhLy,
            TrangThaiHD
        )
        VALUES
        (
            @MaHD,
            @MaKH,
            @TienVayGoc,
            @NgayLap,
            @HanLaiDon,
            @HanThanhLy,
            N'Đang vay'
        );

        DECLARE @BangTaiSan TABLE
        (
            STT INT IDENTITY(1,1),
            TenTaiSan NVARCHAR(150),
            NhomTaiSan NVARCHAR(50),
            GiaThamDinh DECIMAL(18,2),
            GhiChu NVARCHAR(255)
        );

        INSERT INTO @BangTaiSan
        (
            TenTaiSan,
            NhomTaiSan,
            GiaThamDinh,
            GhiChu
        )
        SELECT
            x.value('(TenTaiSan/text())[1]', 'NVARCHAR(150)'),
            x.value('(NhomTaiSan/text())[1]', 'NVARCHAR(50)'),
            x.value('(GiaThamDinh/text())[1]', 'DECIMAL(18,2)'),
            x.value('(GhiChu/text())[1]', 'NVARCHAR(255)')
        FROM @DanhSachTaiSan.nodes('/DanhSach/TaiSan') AS T(x);

        DECLARE @STT INT = 1;
        DECLARE @Tong INT;
        DECLARE @MaTS CHAR(10);
        DECLARE @TenTaiSan NVARCHAR(150);
        DECLARE @NhomTaiSan NVARCHAR(50);
        DECLARE @GiaThamDinh DECIMAL(18,2);
        DECLARE @GhiChu NVARCHAR(255);

        SELECT @Tong = COUNT(*) FROM @BangTaiSan;

        WHILE @STT <= @Tong
        BEGIN
            SELECT
                @TenTaiSan = TenTaiSan,
                @NhomTaiSan = NhomTaiSan,
                @GiaThamDinh = GiaThamDinh,
                @GhiChu = GhiChu
            FROM @BangTaiSan
            WHERE STT = @STT;

            SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaTS, 3, 8) AS INT)), 0) + 1
            FROM TaiSanCamCo;

            SET @MaTS = 'TS' + RIGHT('00000000' + CAST(@SoThuTu AS VARCHAR(8)), 8);

            INSERT INTO TaiSanCamCo
            (
                MaTS,
                MaHD,
                TenTaiSan,
                NhomTaiSan,
                GiaThamDinh,
                TinhTrangTS,
                GhiChu
            )
            VALUES
            (
                @MaTS,
                @MaHD,
                @TenTaiSan,
                @NhomTaiSan,
                @GiaThamDinh,
                N'Đang cầm cố',
                @GhiChu
            );

            SET @STT = @STT + 1;
        END

        COMMIT TRANSACTION;

        SELECT 
            @MaKH AS MaKhachHang,
            @MaHD AS MaHopDong,
            N'Đăng ký hợp đồng thành công' AS ThongBao;
    END TRY

    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SELECT 
            N'Lỗi khi đăng ký hợp đồng: ' + ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNoXau]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DanhSachNoXau]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        kh.HoTen AS TenKhachHang,
        kh.SoDienThoai,
        hd.MaHD AS MaHopDong,
        hd.TienVayGoc,
        hd.HanLaiDon,
        DATEDIFF(DAY, hd.HanLaiDon, GETDATE()) AS SoNgayQuaHan,
        dbo.fn_TinhTongNoHopDong(hd.MaHD, GETDATE()) AS TongTienPhaiTraHienTai,
        dbo.fn_TinhTongNoHopDong(hd.MaHD, DATEADD(MONTH, 1, GETDATE())) AS TongTienSauMotThang
    FROM HopDongCamDo hd
    JOIN KhachHang kh
        ON hd.MaKH = kh.MaKH
    WHERE GETDATE() > hd.HanLaiDon
      AND hd.TrangThaiHD IN (N'Đang vay', N'Quá hạn', N'Đang trả góp')
    ORDER BY SoNgayQuaHan DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD CHAR(10),
    @HanLaiDonMoi DATE,
    @HanThanhLyMoi DATE,
    @NguoiThu NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @TrangThaiHD NVARCHAR(30);
        DECLARE @SoTienCanThu DECIMAL(18,2);
        DECLARE @MaTT CHAR(10);
        DECLARE @SoThuTu INT;

        SELECT @TrangThaiHD = TrangThaiHD
        FROM HopDongCamDo
        WHERE MaHD = @MaHD;

        IF @TrangThaiHD IS NULL
        BEGIN
            SELECT N'Hợp đồng không tồn tại' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @HanThanhLyMoi <= @HanLaiDonMoi
        BEGIN
            SELECT N'Hạn thanh lý mới phải lớn hơn hạn lãi đơn mới' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        SET @SoTienCanThu = dbo.fn_TinhTongNoHopDong(@MaHD, GETDATE());

        SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaTT, 3, 8) AS INT)), 0) + 1
        FROM LichSuThanhToan;

        SET @MaTT = 'TT' + RIGHT('00000000' + CAST(@SoThuTu AS VARCHAR(8)), 8);

        INSERT INTO LichSuThanhToan
        (
            MaTT,
            MaHD,
            NgayThanhToan,
            SoTienThanhToan,
            DuNoSauThanhToan,
            NguoiThu,
            HinhThuc
        )
        VALUES
        (
            @MaTT,
            @MaHD,
            GETDATE(),
            @SoTienCanThu,
            0,
            @NguoiThu,
            N'Gia hạn hợp đồng'
        );

        UPDATE HopDongCamDo
        SET 
            HanLaiDon = @HanLaiDonMoi,
            HanThanhLy = @HanThanhLyMoi,
            TrangThaiHD = N'Đang vay'
        WHERE MaHD = @MaHD;

        COMMIT TRANSACTION;

        SELECT
            N'Gia hạn hợp đồng thành công' AS ThongBao,
            @MaHD AS MaHopDong,
            @SoTienCanThu AS SoTienDaThu,
            @HanLaiDonMoi AS HanLaiDonMoi,
            @HanThanhLyMoi AS HanThanhLyMoi;
    END TRY

    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SELECT N'Lỗi gia hạn hợp đồng: ' + ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 5/12/2026 9:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHD CHAR(10),
    @SoTienThanhToan DECIMAL(18,2),
    @NguoiThu NVARCHAR(100),
    @HinhThuc NVARCHAR(30) = N'Tiền mặt'
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @TrangThaiHD NVARCHAR(30);
        DECLARE @TongNoHienTai DECIMAL(18,2);
        DECLARE @DuNoMoi DECIMAL(18,2);
        DECLARE @MaTT CHAR(10);
        DECLARE @SoThuTu INT;
        DECLARE @TongGiaTriTaiSan DECIMAL(18,2);

        SELECT @TrangThaiHD = TrangThaiHD
        FROM HopDongCamDo
        WHERE MaHD = @MaHD;

        IF @TrangThaiHD IS NULL
        BEGIN
            SELECT N'Hợp đồng không tồn tại' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @TrangThaiHD = N'Đã thanh lý'
           OR EXISTS (
                SELECT 1 
                FROM TaiSanCamCo 
                WHERE MaHD = @MaHD 
                  AND TinhTrangTS = N'Đã bán thanh lý'
           )
        BEGIN
            SELECT N'Không thể thu tiền vì tài sản đã bị bán thanh lý' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @SoTienThanhToan <= 0
        BEGIN
            SELECT N'Số tiền thanh toán phải lớn hơn 0' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        SET @TongNoHienTai = dbo.fn_TinhTongNoHopDong(@MaHD, GETDATE());
        SET @DuNoMoi = @TongNoHienTai - @SoTienThanhToan;

        IF @DuNoMoi < 0
            SET @DuNoMoi = 0;

        SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaTT, 3, 8) AS INT)), 0) + 1
        FROM LichSuThanhToan;

        SET @MaTT = 'TT' + RIGHT('00000000' + CAST(@SoThuTu AS VARCHAR(8)), 8);

        INSERT INTO LichSuThanhToan
        (
            MaTT,
            MaHD,
            NgayThanhToan,
            SoTienThanhToan,
            DuNoSauThanhToan,
            NguoiThu,
            HinhThuc
        )
        VALUES
        (
            @MaTT,
            @MaHD,
            GETDATE(),
            @SoTienThanhToan,
            @DuNoMoi,
            @NguoiThu,
            @HinhThuc
        );

        IF @DuNoMoi = 0
        BEGIN
            UPDATE HopDongCamDo
            SET TrangThaiHD = N'Đã thanh toán'
            WHERE MaHD = @MaHD;

            UPDATE TaiSanCamCo
            SET TinhTrangTS = N'Đã trả khách'
            WHERE MaHD = @MaHD;

            SELECT 
                @MaHD AS MaHopDong,
                @TongNoHienTai AS TongNoTruocKhiTra,
                @SoTienThanhToan AS SoTienDaTra,
                @DuNoMoi AS DuNoConLai,
                N'Khách đã trả hết nợ, toàn bộ tài sản được trả lại' AS ThongBao;
        END
        ELSE
        BEGIN
            UPDATE HopDongCamDo
            SET TrangThaiHD = N'Đang trả góp'
            WHERE MaHD = @MaHD;

            SELECT 
                @MaHD AS MaHopDong,
                @TongNoHienTai AS TongNoTruocKhiTra,
                @SoTienThanhToan AS SoTienDaTra,
                @DuNoMoi AS DuNoConLai,
                N'Khách mới trả một phần, hợp đồng chuyển sang trạng thái Đang trả góp' AS ThongBao;

            SELECT @TongGiaTriTaiSan = ISNULL(SUM(GiaThamDinh), 0)
            FROM TaiSanCamCo
            WHERE MaHD = @MaHD
              AND TinhTrangTS = N'Đang cầm cố';

            SELECT
                MaTS,
                TenTaiSan,
                NhomTaiSan,
                GiaThamDinh,
                @DuNoMoi AS DuNoConLai,
                @TongGiaTriTaiSan - GiaThamDinh AS GiaTriTaiSanConLaiNeuTra,
                CASE
                    WHEN @TongGiaTriTaiSan - GiaThamDinh >= @DuNoMoi
                        THEN N'Có thể trả tài sản này'
                    ELSE N'Chưa nên trả tài sản này'
                END AS GoiYTraTaiSan
            FROM TaiSanCamCo
            WHERE MaHD = @MaHD
              AND TinhTrangTS = N'Đang cầm cố'
            ORDER BY GiaThamDinh DESC;
        END

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SELECT N'Lỗi xử lý trả nợ: ' + ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
USE [master]
GO
